.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    text-decoration: none;
    color: white;
}
div.mkgclub {
    display: flex;
    justify-content: flex-end;
}

.outer{
    display:table-cell;
    vertical-align:middle
}

.height{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    height:40px;
    vertical-align:middle;
    color: white;
}

.blank-height{
    height:30px
}

.my-masonry-grid_column{
    border-left: 10px solid transparent;
    background-clip: padding-box;
    width:300px;
    margin:1vw;
    margin-top:1vh;
    margin-bottom: 1vh;
}